.container {
  width: 100%;
  max-width: 72rem;
  margin-inline: auto;
  padding-inline: var(--spacing-unit-8);
}

.vstack {
  display: flex;
  flex-direction: column;
}

.vstack--xs {
  gap: var(--spacing-unit-1);
}
.vstack--sm {
  gap: var(--spacing-unit-2);
}
.vstack--md {
  gap: var(--spacing-unit-4);
}
.vstack--lg {
  gap: var(--spacing-unit-8);
}
.vstack--xl {
  gap: var(--spacing-unit-16);
}
.vstack--center {
  align-items: center;
}
.vstack--stretch {
  align-items: stretch;
}

.hstack {
  display: flex;
  flex-direction: row;
}

.hstack--xs {
  gap: var(--spacing-unit-1);
}
.hstack--sm {
  gap: var(--spacing-unit-2);
}
.hstack--md {
  gap: var(--spacing-unit-4);
}
.hstack--lg {
  gap: var(--spacing-unit-8);
}
.hstack--xl {
  gap: var(--spacing-unit-16);
}
.hstack--center {
  align-items: center;
}
.hstack--stretch {
  align-items: stretch;
}
