.container {
  width: 100%;
  max-width: 90rem;
  margin-inline: auto;
  padding-inline: var(--spacing-4);
  @media (--screen-lg) {
    padding-inline: var(--spacing-8);
  }
}

.vstack {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);
}

.vstack--tight {
  gap: var(--spacing-2);
}
.vstack--compact {
  gap: var(--spacing-3);
}
.vstack--default {
  gap: var(--spacing-4);
}
.vstack--loose {
  gap: var(--spacing-6);
}
.vstack--wide {
  gap: var(--spacing-8);
}
.vstack--spacious {
  gap: var(--spacing-10);
}
.vstack--relaxed {
  gap: var(--spacing-20);
}
.vstack--center {
  align-items: center;
}
.vstack--stretch {
  align-items: stretch;
}

.hstack {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-4);
}

.hstack--tight {
  gap: var(--spacing-2);
}
.hstack--compact {
  gap: var(--spacing-3);
}
.hstack--default {
  gap: var(--spacing-4);
}
.hstack--loose {
  gap: var(--spacing-6);
}
.hstack--wide {
  gap: var(--spacing-8);
}
.hstack--spacious {
  gap: var(--spacing-10);
}
.hstack--relaxed {
  gap: var(--spacing-20);
}
.hstack--center {
  align-items: center;
}
.hstack--stretch {
  align-items: stretch;
}
