.layout-container {
  width: 100%;
  max-width: 90rem;
  margin-inline: auto;
  padding-inline: var(--spacing-unit-8);
}

.vstack {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-stack-default);
}

.vstack--tight {
  gap: var(--spacing-stack-tight);
}
.vstack--compact {
  gap: var(--spacing-stack-compact);
}
.vstack--default {
  gap: var(--spacing-stack-default);
}
.vstack--loose {
  gap: var(--spacing-stack-loose);
}
.vstack--wide {
  gap: var(--spacing-stack-wide);
}
.vstack--spacious {
  gap: var(--spacing-stack-spacious);
}
.vstack--center {
  align-items: center;
}
.vstack--stretch {
  align-items: stretch;
}

.hstack {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-stack-default);
}

.hstack--tight {
  gap: var(--spacing-stack-tight);
}
.hstack--compact {
  gap: var(--spacing-stack-compact);
}
.hstack--default {
  gap: var(--spacing-stack-default);
}
.hstack--loose {
  gap: var(--spacing-stack-loose);
}
.hstack--wide {
  gap: var(--spacing-stack-wide);
}
.hstack--spacious {
  gap: var(--spacing-stack-spacious);
}
.hstack--center {
  align-items: center;
}
.hstack--stretch {
  align-items: stretch;
}
