footer {
  .vstack {
    max-width: 700px;
  }

  p.footnote {
    color: var(--color-text-muted);
    font-size: var(--font-size-xs);
    line-height: var(--line-height-normal);
    letter-spacing: var(--letter-spacing-loose);
  }
}
