.footer {
  padding: var(--spacing-40) 0 var(--spacing-20) 0;

  @media (--screen-lg) {
    padding-top: var(--spacing-60);
  }
  &__wrapper {
    max-width: 700px;
  }

  &__footnote {
    color: var(--color-text-muted);
    font-size: var(--font-size-xs);
    line-height: var(--line-height-normal);
    letter-spacing: var(--letter-spacing-loose);
  }
}
