.vision {
  &__card {
    position: relative;
    background-color: var(--color-brand-olive);
    background-image: url('/images/mesh-gradients/section-vision-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    border-radius: var(--radius-section-card-lg);
    box-shadow: 0 0 0 1px var(--color-brand-olive-a50);
    padding: var(--spacing-unit-10);
    @media (--screen-md) {
      padding: var(--spacing-unit-20) var(--spacing-unit-10);
    }
    @media (--screen-lg) {
      height: 800px;
      padding: var(--spacing-unit-30) var(--spacing-unit-20);
    }
  }
  &__title {
    color: var(--color-text-inverted-default);
    font-weight: var(--font-weight-regular);
  }
  p.lead {
    color: var(--color-text-inverted-muted);
  }
  &__symbol {
    position: absolute;
    display: none;
    bottom: var(--spacing-unit-30);
    right: var(--spacing-unit-30);
    width: 240px;
    height: 240px;
    @media (--screen-xl) {
      display: block;
    }
  }
}
