:root {
  --breakpoint-sm: 480px; /* 30rem */
  --breakpoint-md: 768px; /* 48rem */
  --breakpoint-lg: 1024px; /* 64rem */
  --breakpoint-xl: 1280px; /* 80rem */
  --breakpoint-2xl: 1536px; /* 96rem */
}
