:root {
  /* --- semantic --- */
  --color-bg: var(--color-brand-porcelain);
  --color-primary: var(--color-brand-amber);
  --color-primary-hover: var(--color-brand-amber-a90);
  --color-focus: var(--color-brand-gold);

  /* --- text --- */
  --color-text: var(--color-black-a90);
  --color-text-muted: var(--color-black-a50);
  --color-text-placeholder: var(--color-black-a25);
  --color-text-inverted-default: var(--color-white-solid);
  --color-text-inverted-muted: var(--color-white-a70);

  /* --- surface --- */
  --color-surface: var(--color-brand-porcelain);
  --color-surface-emphasized: var(--color-brand-soft-linen);

  /* --- brand colors --- */
  --color-brand-gold: #e2a336;
  --color-brand-amber: #ab6400;
  --color-brand-burgundy: #460815;
  --color-brand-olive: #8a7d42;
  --color-brand-deep-teal: #195257;
  --color-brand-eggshell: #ede9d9;
  --color-brand-soft-linen: #f0ede0;
  --color-brand-porcelain: #faf9f2;

  /* --- brand / gold --- */
  --color-brand-gold-solid: var(--color-brand-gold);
  --color-brand-gold-transparent: #e2a33600;
  --color-brand-gold-a5: #e2a3360d;
  --color-brand-gold-a10: #e2a3361a;
  --color-brand-gold-a15: #e2a33626;
  --color-brand-gold-a20: #e2a33633;
  --color-brand-gold-a25: #e2a33640;
  --color-brand-gold-a30: #e2a3364d;
  --color-brand-gold-a35: #e2a33659;
  --color-brand-gold-a40: #e2a33666;
  --color-brand-gold-a45: #e2a33673;
  --color-brand-gold-a50: #e2a33680;
  --color-brand-gold-a55: #e2a3368c;
  --color-brand-gold-a60: #e2a33699;
  --color-brand-gold-a65: #e2a336a6;
  --color-brand-gold-a70: #e2a336b2;
  --color-brand-gold-a75: #e2a336bf;
  --color-brand-gold-a80: #e2a336cc;
  --color-brand-gold-a85: #e2a336d9;
  --color-brand-gold-a90: #e2a336e5;
  --color-brand-gold-a95: #e2a336f2;

  /* --- brand / amber --- */
  --color-brand-amber-solid: var(--color-brand-amber);
  --color-brand-amber-transparent: #ab640000;
  --color-brand-amber-a5: #ab64000d;
  --color-brand-amber-a10: #ab64001a;
  --color-brand-amber-a15: #ab640026;
  --color-brand-amber-a20: #ab640033;
  --color-brand-amber-a25: #ab640040;
  --color-brand-amber-a30: #ab64004d;
  --color-brand-amber-a35: #ab640059;
  --color-brand-amber-a40: #ab640066;
  --color-brand-amber-a45: #ab640073;
  --color-brand-amber-a50: #ab640080;
  --color-brand-amber-a55: #ab64008c;
  --color-brand-amber-a60: #ab640099;
  --color-brand-amber-a65: #ab6400a6;
  --color-brand-amber-a70: #ab6400b2;
  --color-brand-amber-a75: #ab6400bf;
  --color-brand-amber-a80: #ab6400cc;
  --color-brand-amber-a85: #ab6400d9;
  --color-brand-amber-a90: #ab6400e5;
  --color-brand-amber-a95: #ab6400f2;

  /* --- brand / burgundy --- */

  --color-brand-burgundy-solid: var(--color-brand-burgundy);
  --color-brand-burgundy-transparent: #46081500;
  --color-brand-burgundy-a5: #4608150d;
  --color-brand-burgundy-a10: #4608151a;
  --color-brand-burgundy-a15: #46081526;
  --color-brand-burgundy-a20: #46081533;
  --color-brand-burgundy-a25: #46081540;
  --color-brand-burgundy-a30: #4608154d;
  --color-brand-burgundy-a35: #46081559;
  --color-brand-burgundy-a40: #46081566;
  --color-brand-burgundy-a45: #46081573;
  --color-brand-burgundy-a50: #46081580;
  --color-brand-burgundy-a55: #4608158c;
  --color-brand-burgundy-a60: #46081599;
  --color-brand-burgundy-a65: #460815a6;
  --color-brand-burgundy-a70: #460815b2;
  --color-brand-burgundy-a75: #460815bf;
  --color-brand-burgundy-a80: #460815cc;
  --color-brand-burgundy-a85: #460815d9;
  --color-brand-burgundy-a90: #460815e5;
  --color-brand-burgundy-a95: #460815f2;

  /* --- brand / olive --- */
  --color-brand-olive-solid: var(--color-brand-olive);
  --color-brand-olive-transparent: #8a7d4200;
  --color-brand-olive-a5: #8a7d420d;
  --color-brand-olive-a10: #8a7d421a;
  --color-brand-olive-a15: #8a7d4226;
  --color-brand-olive-a20: #8a7d4233;
  --color-brand-olive-a25: #8a7d4240;
  --color-brand-olive-a30: #8a7d424d;
  --color-brand-olive-a35: #8a7d4259;
  --color-brand-olive-a40: #8a7d4266;
  --color-brand-olive-a45: #8a7d4273;
  --color-brand-olive-a50: #8a7d4280;
  --color-brand-olive-a55: #8a7d428c;
  --color-brand-olive-a60: #8a7d4299;
  --color-brand-olive-a65: #8a7d42a6;
  --color-brand-olive-a70: #8a7d42b2;
  --color-brand-olive-a75: #8a7d42bf;
  --color-brand-olive-a80: #8a7d42cc;
  --color-brand-olive-a85: #8a7d42d9;
  --color-brand-olive-a90: #8a7d42e5;
  --color-brand-olive-a95: #8a7d42f2;

  /* --- common colors --- */
  --color-black: var(--color-black-solid);
  --color-white: var(--color-white-solid);
  --color-transparent: var(--color-white-transparent);

  /* --- primitives / black --- */
  --color-black-solid: #000000;
  --color-black-transparent: #00000000;
  --color-black-a5: #0000000d;
  --color-black-a10: #0000001a;
  --color-black-a15: #00000026;
  --color-black-a20: #00000033;
  --color-black-a25: #00000040;
  --color-black-a30: #0000004d;
  --color-black-a35: #00000059;
  --color-black-a40: #00000066;
  --color-black-a45: #00000073;
  --color-black-a50: #00000080;
  --color-black-a55: #0000008c;
  --color-black-a60: #00000099;
  --color-black-a65: #000000a6;
  --color-black-a70: #000000b2;
  --color-black-a75: #000000bf;
  --color-black-a80: #000000cc;
  --color-black-a85: #000000d9;
  --color-black-a90: #000000e5;
  --color-black-a95: #000000f2;

  /* --- primitives / white --- */
  --color-white-solid: #ffffff;
  --color-white-transparent: #ffffff00;
  --color-white-a5: #ffffff0d;
  --color-white-a10: #ffffff1a;
  --color-white-a15: #ffffff26;
  --color-white-a20: #ffffff33;
  --color-white-a25: #ffffff40;
  --color-white-a30: #ffffff4d;
  --color-white-a35: #ffffff59;
  --color-white-a40: #ffffff66;
  --color-white-a45: #ffffff73;
  --color-white-a50: #ffffff80;
  --color-white-a55: #ffffff8c;
  --color-white-a60: #ffffff99;
  --color-white-a65: #ffffffa6;
  --color-white-a70: #ffffffb2;
  --color-white-a75: #ffffffbf;
  --color-white-a80: #ffffffcc;
  --color-white-a85: #ffffffd9;
  --color-white-a90: #ffffffe5;
  --color-white-a95: #fffffff2;

  /* --- primitives / sand --- */
  --color-sand-50: #fafaf9;
  --color-sand-100: #f5f5f3;
  --color-sand-200: #e5e5e3;
  --color-sand-300: #d4d4d1;
  --color-sand-400: #a1a19c;
  --color-sand-500: #82827c;
  --color-sand-600: #53534e;
  --color-sand-700: #40403c;
  --color-sand-800: #262623;
  --color-sand-900: #171714;
  --color-sand-950: #0a0a08;
}
