<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <div class="vstack vstack--loose">
        <img src="/reva-logo.svg" alt="Reva" width="95" height="40" />
        <p class="footer__footnote">
          &copy; 2026 Reva Financial Technology Ltd. All rights reserved.
        </p>
        <p class="footer__footnote">
          Reva is not yet authorised by the Financial Conduct Authority. Prior
          to Reva becoming authorised, none of the information provided is
          intended as an invitation or inducement to apply for any Reva product
          or service. All content is for informational purposes only and does
          not constitute financial advice.
        </p>
        <p class="footer__footnote">
          Reva Financial Technology Ltd is a company registered in England &
          Wales with company number 16444258. Our registered office is located
          at 10 Fairfield Close, Exmouth, England, EX8 2BN.
        </p>
      </div>
    </div>
  </div>
</footer>
