<section class="hero">
  <div class="container">
    <div class="hero__wrapper">
      <div class="vstack vstack--spacious">
        <h1 class="hero__title">The orchestration engine for modern wealth.</h1>
        <p class="lead hero__subtitle">
          Reva is the infrastructure that frees you from admin and routine, so
          you can think sharper, move faster, and deliver more for your clients.
        </p>
        <a href="#" class="button">Join our founding community</a>
      </div>
    </div>
  </div>
</section>
