<section class="hero">
  <div class="container">
    <div class="hero__wrapper">
      <div class="vstack vstack--spacious">
        <h1>Intelligent orchestration for modern wealth.</h1>
        <p class="lead hero__subtitle">
          Financial infrastructure for growing advisory firms, giving every
          client the experience your best client gets.
        </p>
        <x-ui.button href="#" class="self-center button--lg"
          >Join the founding community</x-ui.button
        >
      </div>
    </div>
  </div>
</section>
