<section class="hero">
  <div class="container">
    <div class="hero__wrapper">
      <div class="vstack vstack--spacious">
        <h1>Intelligent orchestration for modern advice.</h1>
        <p class="lead hero__subtitle">
          Giving ambitious advisors the infrastructure to turn great advice into
          great outcomes.
        </p>
        <x-ui.button href="#founding-community" class="self-center button--lg"
          >Join the founding community</x-ui.button
        >
        <small class="hero__footnote"
          >We're onboarding founding firms now. Register to be considered for
          early access.</small
        >
      </div>
    </div>
  </div>
</section>
